
<!-- 
=============================================
	Theme Header
============================================== 
-->
<header class="theme-menu-wrapper">
	<div class="container">
		<div class="top-header clearfix">
			<p class="float-left"><a href="{{ site.url }}">Jasa Agency Iklan Radio</a></p>
			<ul class="float-right">
				<li>Hotline &nbsp; <a href="{{ site.url }}" class="tran3s">{{ site.info_whatsapp }}</a></li>
				<li><a href="{{ site.sosmed_facebook }}" class="tran3s"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
				<li><a href="{{ site.sosmed_twitter }}" class="tran3s"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
				<li><a href="{{ site.sosmed_instagram }}" class="tran3s"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
			</ul>
		</div> <!-- /.top-header -->

		<div class="header-wrapper clearfix">
			<!-- Logo -->
			<div class="logo float-left">
				<a href="{{ site.url }}" title='{{ site.title }}'>
					<h1>Iklan Radio Suara Surabaya</h1>
				</a>
			</div>

			<!-- ============================ Theme Menu ========================= -->
			<nav class="theme-main-menu navbar float-right" id="mega-menu-wrapper">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="navbar-collapse-1">
					<ul class="nav">
						<li class="dropdown-holder {% if page.this_page == 'home' %}active{% endif %}">
							<a href="{{ site.url }}" title='{{ site.title }}' class="tran3s">Home</a>
							<ul class="sub-menu">
								<li>
									<a href="{{ site.url }}/jadwal-acara" title='Jadwal Acara Radio Suara Surabaya' class="tran3s">Jadwal Acara</a>
								</li>
							</ul>
						</li>
						<li class="dropdown-holder {% if page.this_page == 'rate-iklan' %}active{% endif %}">
							<a href="{{ site.url }}/rate-iklan-suara-surabaya-2017" title='Rate Pemasangan Iklan Radio Suara Surabaya 2018' class="tran3s">Rate Iklan</a>
							<ul class="sub-menu">
								<li>
									<a href="{{ site.url }}/produksi-iklan" title="Contoh Produksi Iklan Radio">Produksi Iklan</a>
								</li>
							</ul>
						</li>
						<li class="dropdown-holder {% if page.this_page == 'paket-iklan' %}active{% endif %}">
							<a href="{{ site.url }}/" title='Paket Iklan Radio Suara Surabaya' class="tran3s">Paket Iklan</a>
							<ul class="sub-menu">
								<li>
									<a href="{{ site.url }}/paket-iklan-radio/adlibs-dan-spot" title="Paket Iklan Radio Adlibs & Spot">Adlibs dan Spot</a>
								</li>
								<li>
									<a href="{{ site.url }}/paket-iklan-radio/talkshow-dan-program" title="Paket Iklan Radio Talkshow dan Program">Talkshow dan Program</a>
								</li>
								<li>
									<a href="{{ site.url }}/paket-iklan-radio/weekend-spot" title="Paket Iklan Radio Weekend Spot">Weekend Spot</a>
								</li>
								<li>
									<a href="{{ site.url }}/paket-iklan-radio/weekend-adlibs-and-spot" title="Paket Iklan Radio Weekend Adlibs dan Spot">Weekend Adlibs dan Spot</a>
								</li>
								<li>
									<a href="{{ site.url }}/paket-iklan-radio/weekend-and-sosmed" title="Paket Iklan Radio Weekend dan SOSMED">Weekend + Sosmed</a>
								</li>
								<li>
									<a href="{{ site.url }}/paket-iklan-radio/website-and-sosmed" title="Paket Iklan Radio Website dan SOSMED">Website + Sosmed</a>
								</li>
								<li>
									<a href="{{ site.url }}/paket-iklan-radio/suara-surabaya-m-radio" title="Paket Iklan Radio Suara Surabaya dan M Radio">Suara surabaya + M Radio</a>
								</li>
							</ul>
						</li>
						{% assign pktrm = 'Paket Ramadhan Iklan Radio Suara Surabaya' %}
						<li class="dropdown-holder {% if page.this_page == 'paket-ramadhan' %}active{% endif %}">
							<a href="#" title='Paket Ramadhan Iklan Radio Suara Surabaya' class="tran3s">Paket Ramadhan</a>
							<ul class="sub-menu">
								<li>
									<a href="{{ site.url }}/paket-ramadhan/paket-khasanah-alquran" title="{{ pktrm }} Paket Khasanah AlQuran">Paket Khasanah AlQuran</a>
								</li>
								<li>
									<a href="{{ site.url }}/paket-ramadhan/paket-khasanah-cari-tahu-yuk" title="{{ pktrm }} Paket Cari Tahu Yuk">Paket Cari Tahu Yuk</a>
								</li>
								<li>
									<a href="{{ site.url }}/paket-ramadhan/paket-khasanah-jejak-sahabat" title="{{ pktrm }} Paket Jejak Sahabat">Paket Jejak Sahabat</a>
								</li>
								<li>
									<a href="{{ site.url }}/paket-ramadhan/paket-mutiara-kisah" title="{{ pktrm }} Paket Mutiara Kisah">Paket Mutiara Kisah</a>
								</li>
								<li>
									<a href="{{ site.url }}/paket-ramadhan/paket-creative-menu" title="{{ pktrm }} Paket Creative Menu">Paket Creative Menu</a>
								</li>
								<li>
									<a href="{{ site.url }}/paket-ramadhan/paket-tasbih-ramadhan" title="{{ pktrm }} Paket Tasbih Ramadhan">Paket Tasbih Ramadhan</a>
								</li>
							</ul>
						</li>
						<li {% if page.this_page == 'artikel' %}class="active"{% endif %}>
							<a href="{{ site.url }}/artikel" class="tran3s">Artikel</a>
						</li>
						<li {% if page.this_page == 'kontak' %}class="active"{% endif %}>
							<a href="{{ site.url }}/kontak" class="tran3s">Kontak</a>
						</li>

					</ul>
				</div><!-- /.navbar-collapse -->
			</nav> <!-- /.theme-main-menu -->
		</div> <!-- /.header-wrapper -->
	</div> <!-- /.container -->
</header> <!-- /.theme-menu-wrapper -->
